{% extends "base.html" %}
{% load importer %}

{% block head %} 
    {{ "intro-page.css"|css_import }} 
{% endblock head %}

{% block body %}
    {% include "partials/nav/main.html" %}
    {% include "page/intro/logo.html" %}
    {% include "page/intro/search-eles.html" %}
    {% include "page/intro/postings.html" %}
    {% include "partials/mini/github-ref-btn.html" %}
    {{ "intro"|js_module_import }}
    {{ "partials/postings"|js_module_import }}
    {{ "partials/nav"|js_module_import }}

{% endblock body %}