{% extends "base.html" %}
{% load importer %}

{% block head %} 
    {{ "intro-page.css"|css_import }} 
{% endblock head %}

{% block body %}
    {% include "partials/nav/main.html" %}
    {% include "page/intro/logo.html" %}
    {% include "page/intro/search-eles.html" %}
    {% include "page/intro/postings.html" %}
    {% include "partials/mini/github-ref-btn.html" %}
    {{ "intro/1-search_box.js"|js_module_import }}
    {{ "intro/2-render_tags.js"|js_module_import }}
    {{ "intro/3-filter_tags.js"|js_module_import }}
    {{ "intro/4-click_tags.js"|js_module_import }}
    {{ "intro/5-sort_btns.js"|js_module_import }}
    {{ "intro/6-posting-getter.js"|js_module_import }}
    {{ "partials/postings/1-THIS-IS-HELL.js"|js_module_import }}
    {{ "partials/postings/2-function.js"|js_module_import }}
    {{ "partials/postings/3-list-btn.js"|js_module_import }}
    {{ "partials/nav/1-write-btn.js"|js_module_import }}

{% endblock body %}