<div class="sort-btn latest">
    <button class="sexy-btn">최신 포스팅</button>
</div>
<div class="postings-section">
    <div class="postings-section__latest">
        {% for posting in latest_postings %}
            {% include "partials/posting/main.html" %}
        {% endfor %}
    </div>
    <div class="postings-section__popularity none">
        {% for posting in popularity_postings %}
            {% include "partials/posting/main.html" %}
        {% endfor %}
    </div>
</div>

{% comment %} popularity_postings
latest_postings {% endcomment %}