<a href="{% url 'users:logout' %}">
    <div class="login">
        <button class="login__btn logout__btn">
            {% comment %} 글자 갯수 차이로 미세한 css조정때문에 일부분만 logout__btn 클래스를 추가함. {% endcomment %}
            <span class="login__btn__text">로그아웃</span>
            <div class="login__btn__icon logout__btn__icon">
                <div class="login__btn__icon__svg login__btn__icon__left">
                    <svg>
                        <use xlink:href="#login-arrow-right"></use>
                    </svg>
                </div>
                <div class="login__btn__icon__right login__btn__icon__svg">
                    <svg>
                        <use xlink:href="#login-arrow-right"></use>
                    </svg>
                </div>
            </div>
        </button>
        <svg style="display: none;">
            <symbol id="login-arrow-right" viewBox="0 0 20 10">
                <path d="M14.84 0l-1.08 1.06 3.3 3.2H0v1.49h17.05l-3.3 3.2L14.84 10 20 5l-5.16-5z"></path>
            </symbol>
        </svg>
    </div>
</a>