<div class="nav">
    <a href="#">
        <div class="nav__write-button">
            <div class="nav__write-button__svg">
                {% include "svg/write_icon.html" %}
                <div class="nav__write-button__text"></div>
            </div>
        </div>
    </a>
    <div class="user-section">
        <div class="login-logout-btn">
            {% if user.is_authenticated %}
                {% include "partials/nav/logout-btn.html" %}
            {% else %}
                {% include "partials/nav/login-btn.html" %}
            {% endif %}
        </div>
        <div class="login-profile">
            {% if user.is_authenticated %}
                {% include "partials/nav/user-profile.html" %}
            {% else %}
                {% include "partials/nav/logo-profile.html" %}
            {% endif %}
        </div>
    </div>

</div>