.posting__x2{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}

.posting__x2__slider{
    display: flex;
    overflow: auto; 
    scroll-snap-type: x mandatory;
    /* firfox용 */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}

/* 스크롤 디자인 명시 */
.posting__x2__slider::-webkit-scrollbar {
    height: 5px;
}
.posting__x2__slider::-webkit-scrollbar-track {
    background-color: transparent;
}
.posting__x2__slider::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
    background-color: var(--scrollbar-color);
}
.posting__x2__slider::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
/* ---------------- */

.posting__x2__slider__img{
    flex: none;
    scroll-snap-align: start;
    width: 100%;
}

.posting__x2__slider__img__file{
    display: block; 
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 좌 우 스크롤 버튼 */

.posting__x2__left,
.posting__x2__right,
.posting__x2__center{
    display: none;
    /* 모바일에서는 필요없다 드레그스크롤이나 막지 않도록 한다*/
}

@media not all and (hover: none) and (pointer: coarse) {
    /*! 이 블럭 내의 코드는 커서를 사용하는 PC에서만 유효하다. */
    .posting__x2__left,
    .posting__x2__right,
    .posting__x2__center{
        display: block;
    }

    .posting__x2__left,
    .posting__x2__right{
        position: absolute;
        top: 0px;
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: white;
        opacity: 0.3;
        transition: all 100ms ease-in-out;
    }

    .posting__x2__left{
        left: 0px;
    }

    .posting__x2__right{
        right: 0px;
        transform: rotateY(180deg);
    }

    .posting__x2__left:hover,
    .posting__x2__right:hover {
        opacity: 1;
        cursor: pointer;
    }

    .posting__x2__center{
        position: absolute;
        top: 0px;
        left: 10%;
        width: 80%;
        height: 100%;
    }
}

/* 더블클릭 좋아요 and 좋아요 버튼의 이벤트 */
.posting__x2__like{
    position: absolute;
    align-self: center;
    opacity: 0;
    transform: scale(0);
    transition: all 150ms ease-in;
    fill: white;
}

@keyframes like-off {
    0%{
        opacity: 0.7;
        transform: scale(1);
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

.like{
    opacity: 0.7;
    transform: scale(1);
    animation: like-off 150ms ease-out 600ms forwards;
}


.posting__x2__like-btn{
    position: absolute;
    bottom:0;
    left: 0;
    fill: white;
    opacity: 0.8;
    transform: scale(0.34);
    transition: all 50ms ease-in;
    margin-left: -10px;
    margin-bottom: -10px;
}

.liked{
    fill: var(--liked-color);
}

@media not all and (hover: none) and (pointer: coarse) {
    /* PC용 */

    /* 모바일에서는 hover가 이상하게 작동하거나 필요 없다 */
    .posting__x2__like-btn:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(0.4);
    }
    
}

