.posting__x2{
    background-color: black;
}

.posting__x2__img img{
    width: var(--posting-width);
}

.posting__x2__img{
    position: relative;
}

.posting__x2__img__left,
.posting__x2__img__right{
    display: inline-block;
    position:absolute;
    width:61px;
    height: 100%;
    opacity: 0;
    transition: all 80ms linear;
}

.posting__x2__img__left{
    left: 0;
}

.posting__x2__img__right{
    right: 0;
    bottom: 0;
}

.posting__x2__img__left:hover,
.posting__x2__img__right:hover {
    cursor: pointer;
    opacity: 1;
}

.posting__x2__img__left__icon,
.posting__x2__img__right__icon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.posting__x2__img__left__icon svg{
    fill: white;
    opacity: 0.2;
}


.posting__x2__img__right__icon svg{
    fill: white;
    opacity: 0.2;
    transform: rotate(180deg);
}


.posting__x2__img__center_panel{
    position: absolute;
    width: 70%;
    height: 100%;
    left: 15%;
    background-color: yellow;
    opacity: 0.2;
}