.posting__x2{
    background-color: rgba(0, 0, 0, 0);
}

.posting__x2__slider{
    display: flex;
    overflow: auto; 
    scroll-snap-type: x mandatory;
    /* firfox용 */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}

/* 스크롤 디자인 명시 */
.posting__x2__slider::-webkit-scrollbar {
    height: 5px;
}
.posting__x2__slider::-webkit-scrollbar-track {
    background-color: transparent;
}
.posting__x2__slider::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
    background-color: var(--scrollbar-color);
}
.posting__x2__slider::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
/* ---------------- */

.posting__x2__slider__img{
    flex: none;
    scroll-snap-align: start;
    width: 100%;
}

.posting__x2__slider__img__file{
    display: block; 
    width: 100%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}