.posting__x3{
    position: relative;
    width: 100%;
}

.posting__x3__like{
    position: absolute;
    bottom: 0;
    left: 0;
    fill: white;
    opacity: 0.8;
    transform: scale(0.34);
    transition: all 50ms ease-in;
    margin-left: -10px;
    margin-bottom: -10px;
}

.liked{
    fill: var(--liked-color);
}

@media (hover: none) and (pointer: coarse) {
    /* 모바일 용 */
}

@media not all and (hover: none) and (pointer: coarse) {
    /* PC용 */

    /* 모바일에서는 hover가 이상하게 작동하거나 필요 없다 */
    .posting__x3__like:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(0.4);
    }
    
}