.posting__x4{
    width: 100%;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 6px;
    padding-bottom: 20px;
    padding-left: 0.6em;
    position: relative;
}
.posting__x4__fold-down svg{
    transform: scale(0.46) rotateZ(-90deg);
    position: absolute;
    bottom: -18px;
    left: 47%;
}
.posting__x4__fold-down{
    opacity: 0.2;
}
.btn-flip{
    transform: rotateX(180deg);
}
@media not all and (hover: none) and (pointer: coarse) {
    /* PC 용 */
    .posting__x4__fold-down:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}
.posting__x4__box{
    overflow: hidden;
}
.x4max-hight{
    max-height: 72px;
}
.posting__x4__box__tag{
    display: inline-block;
    font-size: 15px;
    color: black;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 100px;
    opacity: 0.6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.posting__x4__box__tag:hover{
    opacity: 1;
    cursor: pointer;
}

.alcohol{
    opacity: 0.8;
}
.liquid{
    border: 2px solid var(--liquid);
}
.ingredient{
    border: 2px solid var(--ingredient);
}
.equipment{
    border: 2px solid var(--equipment);
}
.fruit{
    border: 2px solid var(--fruit);
}
.plant{
    border: 2px solid var(--plant);
}
.teste{
    border: 2px solid var(--teste);
}
.spice{
    border: 2px solid var(--spice);
}
.texture{
    border: 2px solid var(--texture);
}
.scent{
    border: 2px solid var(--scent);
}
.color{
    border: 2px solid var(--border);
}
.other{
    border: 2px solid var(--other);
}