@import "ref-postings.css";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    width: 615px;
}
.intro-btn{
    width: 615px;
}

.related-postings{
    position: relative;
}

.intro-btn {
    position: absolute;
    top: -70px;
    font-size: 17px;
}


@media screen and (max-width: 615px) {
    .nav{
        width: 100%;
        padding-right: 10px;
    }
    .intro-btn{
        width: 100%;
    }
}
.posting-ele{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.posting {
    /* 이 border-radius가 없으면 posting bottom border가 이상하게 적용된다 */
    border-radius: 5px;
    box-shadow: 3px -12px 20px rgba(255, 255, 255, 0.8), 3px 12px 20px rgba(0, 0, 0, 0.2);
}