<div class="posting">
    <div class="posting__x1">
        <div class="posting__x1__profile">
            <img src="{{ posting.created_by.profile_image.url }}" alt="프로필 이미지">
        </div>
        <div class="posting__x1__center">
            <div class="posting__x1__center__cocktail-name"></div>
            <div class="posting__x1__center__username"></div>
        </div>
        <div class="posting__x1__menu"></div>
    </div>
    <div class="posting__x2">img</div>
    <div class="posting__x3">tagbox1</div>
    <div class="posting__x4">tagbox2</div>
    <div class="posting__x5">
        <div class="posting__x5__btn"></div>
        <div class="posting__x5__like"></div>
    </div>
    <div class="posting__x6">
        <div class="posting__x6__input"></div>
        <div class="posting__x6__submit"></div>
    </div>
</div>