.search-box {
    margin-top: 30vmin;
    display: block;
}

.search-box__input {
    border: none;
    background-color: white;
    width: var(--intro-width);
    height: 50px;
    border-radius: 37px;
    padding: 20px 30px;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.search-box__input:focus {
    outline:none;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-box__input:hover,
.search-box__input:focus {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}