{% extends 'base.html' %}
{% load static %}
{% load importer %}

{% block og_title %}Aribi 회원가입 페이지 입니다.{% endblock og_title %}

{% block head %} 
    {{ "login-page.css"|css_import }} 
{% endblock head %}

{% block body %}
<div class="loading none">
    {% include 'partials/mini/loading-screen.html' %}
</div>

<div class="box signup">
    <div class="box__go-to-back">
        <a href="{% url 'users:login' %}">
            {% include "svg/arrow-bar_icon.html" %}
        </a>
    </div>
    <div class="box__form">
        <form method="POST" action="{% url 'users:signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="sexy-btn sign-up">회원가입</button>
        </form>
    </div>
</div>


<script type="application/javascript">
    window.onbeforeunload = function () {
        // 페이지를 떠날때 로딩시간동안 로딩 애니메이션
        document.querySelector(".loading").classList.remove("none");
    }
</script>

{% endblock body %}