@import "base.css";
@import "page/intro/core.css";
@import "partials/posting/core.css";
@import "partials/nav/core.css";
@import "partials/github-ref-btn/core.css";
@import "partials/posting-mini/core.css";


*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}