:root {
    --intro-width: 80vmin;

    --liquid:#919de5;
    --ingredient:#b391e5;
    --equipment:#aee591;
    --fruit:#e59191;
    --plant:#e5bf91;
    --teste:#91e5d0;
    --spice:#e191e5;
    --texture:#91cce5;
    --scent:#d3db8a;
    --color:#e591bb;
    --other:#91e5a2;
}

