<div class="posting__x1">
    <div class="posting__x1__profile img-frame">
        <a href="#">
            <img class="img" src="{{ posting.created_by.profile_image.url }}" alt="프로필 이미지">
        </a>
    </div>
    <div class="posting__x1__center">
        <a href="{% url 'postings:detail' pk=posting.pk %}">
            <div class="posting__x1__center__top">
                {{ posting.cocktail_name }}
            </div>
        </a>
        <a href="#">
            <div class="posting__x1__center__bottom">
                {{ posting.created_by.name }}
            </div>
        </a>
    </div>
    <div class="posting__x1__menu-btn">
        <div class="posting__x1__menu-btn__c c1"></div>
        <div class="posting__x1__menu-btn__c c2"></div>
        <div class="posting__x1__menu-btn__c c3"></div>
        <div class="posting__x1__menu-btn__box">
            {% if not user.is_authenticated %}
                <a href="{% url 'users:login' %}" class="posting__x1__menu-btn__box__menu menu-1">리스트에 추가</a>
            {% else %}
                <div class="posting__x1__menu-btn__box__menu menu-1">리스트에 추가</div>
            {% endif %}
            {% if user.is_authenticated and user == posting.created_by %}
                <a href="{% url 'postings:edit' pk=posting.pk %}" class="posting__x1__menu-btn__box__menu menu-2">수정</a>
                <div class="posting__x1__menu-btn__box__menu menu-3" onclick="postingDelete(this)">삭제</div>
            {% endif %}
        </div>
    </div>
</div>