<div class="{{ posting.pk }} posting__x2">
    <div class="{{ posting.pk }} posting__x2__slider">
        {% for picture in posting.pictures.all %}
            <div class="{{ posting.pk }} posting__x2__slider__img">
                <div class="{{ posting.pk }} posting__x2__slider__img__file">
                    <img class="{{ posting.pk }}" src="{{ picture.image.url }}" widthForJS="{{ picture.image.width }}" heightForJS="{{ picture.image.height }}" />
                    {% comment %} _width,_height 속성은 JS로 정보전달을 위한 수단이다 실제로 이미지 크기에 영향을 주면 안된다 {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="posting__x2__left none">
        {% include "svg/arrow_icon.html" %}
    </div>
    <div class="posting__x2__right">
        {% include "svg/arrow_icon.html" %}
    </div>
    <div class="posting__x2__center"></div>
    <div class="posting__x2__like">
        {% include "svg/like_icon.html" %}
    </div>
</div>