{% load obj_check %}
<div class="posting__x6-margin"></div>
<div class="posting__x6">
    <div class="posting__x6__btn" comments="{{ posting.comments.count }}">
        댓글 {{ posting.comments.count }}개 모두 보기
    </div>
    <div class="posting__x6__comment none">
        {% for comment in posting.comments.all %}
            <div class="posting__x6__comment__info">
                <div class="posting__x6__comment__info__profile">
                    <img src="{{ comment.created_by.profile_image.url }}" width="30" , hieht="30">
                </div>
                <div class="posting__x6__comment__info__created_by">
                    {{ comment.created_by }}
                </div>
                <div class="posting__x6__comment__info__created_ago">
                    {{ comment.created_ago }}
                </div>
                <div class="posting__x6__comment__info__like-btn {% if comment.pk|comment_like_check:user.username %}commentLiked{% endif %}" commentPk="{{ comment.pk }}">
                    {% include "svg/like_icon.html" %}
                </div>
                <div class="posting__x6__comment__info__like">
                    좋아요 {{ comment.comment_likes.count }}개
                </div>
                <div class="posting__x6__comment__info__reply-count">
                    답글 {{ comment.replies.count }}개
                </div>
                <div class="posting__x6__comment__info__reply-btn">
                    답글작성
                </div>
            </div>
            <div class="posting__x6__comment__main">
                {{ comment.content }}
                {% include "partials/posting/reply-form.html" %}
            </div>
            {% for reply in comment.replies.all %}
                <div class="posting__x6__comment__reply">
                    <div class="posting__x6__comment__reply__info">
                        <div class="posting__x6__comment__reply__info__profile">
                            <img src="{{ reply.created_by.profile_image.url }}" width="30" , hieht="30">
                        </div>
                        <div class="posting__x6__comment__reply__info__created_by">
                            {{ reply.created_by }}
                        </div>
                        <div class="posting__x6__comment__reply__info__created_ago">
                            {{ reply.created_ago }}
                        </div>
                        <div class="posting__x6__comment__reply__info__like-btn {% if reply.pk|reply_like_check:user.username %}commentLiked{% endif %}" replyPk="{{ reply.pk }}" >
                            {% include "svg/like_icon.html" %}
                        </div>
                        <div class="posting__x6__comment__reply__info__like">
                            좋아요 {{ reply.reply_likes.count }}개
                        </div>
                        <div class="posting__x6__comment__reply__info__reply-btn">
                            답글작성
                        </div>
                    </div>
                    <div class="posting__x6__comment__reply__main">
                        {{ reply.content }}
                        {% include "partials/posting/reply-form.html" %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>