{% extends "base.html" %}
{% load importer %}

{% block head %} 
    {{ "user-detail-page.css"|css_import }} 
{% endblock head %}

{% block body %}
    <div class="loading none">
        {% include 'partials/mini/loading-screen.html' %}
    </div>
    <div class="username-data none">{{ user.username }}</div>
    {% include "partials/nav/main.html" %}
    {% include "page/user-detail/profile-section.html" %}
    {% include "page/user-detail/posting-section.html" %}
    {% include "page/user-detail/list-section.html" %}
    {{ "partials/nav/1-write-btn.js"|js_module_import }}
    {{ "user-detail/1-edit-user.js"|js_module_import }}
    {{ "user-detail/2-section-btn.js"|js_module_import }}
    {{ "user-detail/3-reset-list.js"|js_module_import }}
{% endblock body %}