<div class="profile-section">
    <div class="profile-section__profile-image">
        <img src="{{ target_user.profile_image.url }}">
        <div class="none img-text">사진 변경</div>
    </div>
    <div class="profile-section__info">
        <div class="profile-section__info__name">{{ target_user.name }}</div>
        <div class="profile-section__info__config {% if target_user.username != user.username %}none{% endif %}">
            <div class="profile-section__info__config__name">이름 변경</div>
            <div class="profile-section__info__config__password {% if target_user.login_method != 'default' %}none{% endif %}">비밀번호 변경</div>
            <div class="profile-section__info__config__secession">계정 삭제</div>
        </div>
    </div>
    <a href="{% url 'core:intro' %}">
        <div class="home-btn sexy-btn">Aribi 홈으로 이동</div>
    </a>
    <div class="section-btn sexy-btn" state="posting">{{ target_user.name }}의 게시물</div>
</div>
<div class="input-section none">
    <form>
        <input type="text">
        <button class="input-section__submit" targetUsername="{{ target_user.username }}">적용</button>
        <div class="input-section__cancel">취소</div>
    </form>
</div>
<form class="profile-image-form none" method="POST" action="{% url 'users:update-profile-image' %}" enctype="multipart/form-data" onchange="this.submit()" onclick="this.value=null;">
    {% csrf_token %}
    <input type="file" name="image" accept="image/*">
    <input type="hidden" name="target_username" value="{{ target_user.username }}" >
</form>
<div class="profile-section__bio">
    <div class="profile-section__bio__content">
        {{ target_user.bio |safe }}
    </div>
    <div class="profile-section__bio__input bio_input_off {% if target_user.username != user.username %}none{% endif %}">
        <div class="profile-section__bio__input__field none">
            <textarea name="content" cols="40" rows="10" placeholder="자신을 설명해주세요" maxlength="135">{{ user.bio }}</textarea>
            <div class="profile-section__bio__input__field__submit">적용</div>
        </div>
        <div class="profile-section__bio__input__btn">작성하기</div>
    </div>
</div>