<div class="animations">
    <div class="main-animation">
        <div class="animation-container">
            <div class="lightning-container">
                <div class="lightning white"></div>
                <div class="lightning red"></div>
            </div>
            <div class="boom-container">
                <div class="shape circle big white"></div>
                <div class="shape circle white"></div>
                <div class="shape triangle big yellow"></div>
                <div class="shape disc white"></div>
                <div class="shape triangle blue"></div>
            </div>
            <div class="boom-container second">
                <div class="shape circle big white"></div>
                <div class="shape circle white"></div>
                <div class="shape disc white"></div>
                <div class="shape triangle blue"></div>
            </div>
        </div>
    </div>
    <div class="text-animation">
        <div class="text-animation-section">
            <span class="let1">u</span>
            <span class="let2">p</span>
            <span class="let3">l</span>
            <span class="let4">o</span>
            <span class="let5">a</span>
            <span class="let6">d</span>
            <span class="let7">i</span>
            <span class="let8">n</span>
            <span class="let9">g</span>
        </div>
    </div>
</div>