<div class="animations">
    <div class="main-animation">
        <div class="animation-container">
            <div class="lightning-container">
                <div class="lightning white"></div>
                <div class="lightning red"></div>
            </div>
            <div class="boom-container">
                <div class="shape circle big white"></div>
                <div class="shape circle white"></div>
                <div class="shape triangle big yellow"></div>
                <div class="shape disc white"></div>
                <div class="shape triangle blue"></div>
            </div>
            <div class="boom-container second">
                <div class="shape circle big white"></div>
                <div class="shape circle white"></div>
                <div class="shape disc white"></div>
                <div class="shape triangle blue"></div>
            </div>
        </div>
    </div>
    <div class="text-animation">
        <div class="text-animation-section">
            <span class="let1 let">l</span>
            <span class="let2 let">o</span>
            <span class="let3 let">a</span>
            <span class="let4 let">d</span>
            <span class="let5 let">i</span>
            <span class="let6 let">n</span>
            <span class="let7 let">g</span>
            <span class="let8 let">.</span>
            <span class="let9 let">.</span>
        </div>
    </div>
</div>