{% extends "base.html" %}
{% load importer %}

{% block head %}
    {{ "posting-create-page.css"|css_import }}
{% endblock head %}


{% block body %}
    <div class="box">
        <div class="box__go-to-back">
            <a href="/">
                {% include "svg/arrow-bar_icon.html" %}
            </a>
        </div>
        <form method="POST" action="{% url 'postings:create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="username-data" type="text" name="username" hidden value="{{ user.username }}">
            <div class="img-box-wrap">
                <div class="img-box">
                    <div class="img-box__add-btn sexy-btn">이미지 선택하기</div>
                </div>
            </div>
            {{ form }}
            <div class="tag-box">
                <div class="tag-box__constituents">
                    <div class="tag-box__constituents__help-text">
                        하단에서 재료 태그를 클릭해서 추가하세요.
                        <br>
                        추가된 태그를 다시 클릭하여 제거할 수 있습니다.
                    </div>
                    <div class="tag-box__constituents__selected">
                        <div class="tag-box__constituents__selected__field"></div>
                    </div>
                    <div class="tag-box__constituents__search-box">
                        <input type="text" placeholder="재료 태그를 검색하세요">
                    </div>
                    <div class="tag-box__constituents__content">
                        <div class="tag-box__constituents__content__field"></div>
                    </div>
                </div>
                <div class="tag-box__flavors">
                    <div class="tag-box__flavors__help-text">
                        하단에서 맛 태그를 클릭해서 추가하세요.
                        <br>
                        추가된 태그를 다시 클릭하여 제거할 수 있습니다.
                    </div>
                    <div class="tag-box__flavors__selected">
                        <div class="tag-box__flavors__selected__field"></div>
                    </div>
                    <div class="tag-box__flavors__search-box">
                        <input type="text" placeholder="맛 태그를 검색하세요">
                    </div>
                    <div class="tag-box__flavors__content">
                        <div class="tag-box__flavors__content__field"></div>
                    </div>
                </div>
            </div>
            {% include 'page/posting-create/tag-create.html' %}
            <button class="sexy-btn submit-btn">등록</button>
        </form>
    </div>

    {{ "posting-create/1-img-input.js"|js_module_import }}
    {{ "posting-create/2-function.js"|js_module_import }}
    {{ "posting-create/3-tag-input.js"|js_module_import }}
    {{ "posting-create/4-tag-create.js"|js_module_import }}
    {{ "posting-create/5-form-validation.js"|js_module_import }}
{% endblock body %}