@import "profile-section.css";
@import "section-btn.css";
@import "section.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.none{
    display: none;
}

@media screen and (max-width: 615px) {
    .profile-section,
    .section-btn,
    .home-btn,
    .posting-mini{
        width: 100%;
    }

    .list-reset-btn{
        padding-left: 15px;
    }
}