<div class="github-ref">
    <ul class="github-ref__ul"> 
        <li class="github-ref__li">
            <a href="https://github.com/clomia/Aribi" class="github-ref__a" target='_blank' title="[GitHub] Aribi Project" >
                <span class="github-ref__span"></span>
                <span class="github-ref__span"></span>
                <span class="github-ref__span"></span>
                <span class="github-ref__span"></span>
                <span class="github-ref__span">
                    {% include "svg/github-logo-mini.html" %}
                </span>
            </a> 
        </li>
    </ul>
</div> 
