<a href="{% url 'postings:detail' pk=posting.pk %}">
    <div class="posting-mini">
        <div class="posting-mini__main">
            <div class="posting-mini__main__content">   
                <div class="posting-mini__main__content__name">
                    {{ posting.cocktail_name }} [{{ posting.comments.count }}]
                </div>
                <div class="posting-mini__main__content__info">
                    {{ posting.created_by.name }} | {{ posting.created_ago }} | {{ posting.posting_likes.count }}
                </div>
            </div>
            <div class="posting-mini__main__img">
                <img src="{{ posting.pictures.all.0.image.url }}" height="50px">
            </div>
        </div>
        <div class="posting-mini__tagbox">
            <div class="posting-mini__tagbox__constituent">
                {% for constituent in posting.constituents.all|slice:":8" %}
                    #{{ constituent }} 
                {% endfor %}
            </div>
            <div class="posting-mini__tagbox__flavor">
                {% for flavor in posting.flavor_tags.all|slice:":8" %}
                    #{{ flavor }} 
                {% endfor %}
            </div>
        </div>
    </div>
</a>