@import "veriables.css";
@import "file-input.css";
@import "text-input.css";
@import "tag-input.css";
@import "tag-create.css";
@import "loading-screen.css";

body{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.box{
    width: 70vmin;
    margin: 10vmin 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 20vmin; */
    padding: 7vmin;
    box-shadow: inset 3px -15px 25px rgba(255, 255, 255, 0.8), 3px 15px 25px rgba(0, 0, 0, 0.2);
    color: #3b3b3b;
    background-color: white;
    position: relative;
}

.box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box__go-to-back{
    position: absolute;
    left: 10px;
    top: 20px;
}

.box__go-to-back a svg {
    width: 5vmin;
    height: 2vmin;
}

@media screen and (max-width: 615px) {
    /* 모바일용 */
    .box{
        padding-top: 15vmin;
    }
}

.none{
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.box form label {
    display: none;
}

.create-tag__constituent__label,
.create-tag__flavor__label{
    /* 위에있는 .box form label 셀렉터랑 겹쳐서 그 아래에 정의한다. */
    display: flex !important;
}

.submit-btn{
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.43);
}