.img-box-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.img-box__mixin{
    width: 130px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}

.img-box__mixin__delete-btn,
.img-box__add-btn{
    width: 120px;
    height: 35px;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #3b3b3b;
    fill: #3b3b3b;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box__add-btn{
    margin-left: 5px;
    margin-top: 0;
    color: #3b3b3b;
    opacity: 1;
}

.img-box__mixin__delete-btn:hover,
.img-box__add-btn:hover {
    cursor: pointer;
}

.img-box__mixin__img{
    min-width: 120px;
    min-height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.sexy-btn{
    width: 100%;
    height: 50px;
    font-size: 17px;
}