.loading{
    position: fixed;
    z-index: 999;
}

.text-animation{
    position: fixed;
}

.text-animation-section {
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 100;
    font-size: 7vmin;
    color: #fafafa;
}

span {
    position: relative;
    top: 0.63em;  
    display: inline-block;
    text-transform: uppercase;  
    opacity: 0;
    transform: rotateX(-90deg);
}

.let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;

}

.let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}

.let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
}

.let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
}

.let8 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.9s;
}

.let9 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 2.0s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}


.animations {
    display: flex;
    align-items: center;
    position: relative;
    background: #3b3b3b;
    min-height: 100vh;
    widows: 100vw;
    justify-content: center;
    overflow: hidden;
}

.animation-container {
    display: block;
    position: relative;
    margin: 0 auto;
}

.animation-container .lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%);
}

.animation-container .lightning-container .lightning {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    transform-origin: 6px 6px;
    animation-name: woosh;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-direction: alternate;
}

.animation-container .lightning-container .lightning.white {
    background-color: white;
    box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
}

.animation-container .lightning-container .lightning.red {
    background-color: #fc7171;
    box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
    animation-delay: 0.2s;
}

.animation-container .boom-container {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px;
}

.animation-container .boom-container .shape {
    display: inline-block;
    position: relative;
    opacity: 0;
    transform-origin: center center;
}

.animation-container .boom-container .shape.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    transform-origin: 50% 80%;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    margin-left: -15px;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent #42e599 transparent;
    animation-name: boom-triangle;
}

.animation-container .boom-container .shape.triangle.big {
    margin-left: -25px;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #fade28 transparent;
    animation-name: boom-triangle-big;
}

.animation-container .boom-container .shape.disc {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #d15ff4;
    animation-name: boom-disc;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.animation-container .boom-container .shape.circle {
    width: 20px;
    height: 20px;
    animation-name: boom-circle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    border-radius: 100%;
    margin-left: -30px;
}

.animation-container .boom-container .shape.circle.white {
    border: 1px solid white;
}

.animation-container .boom-container .shape.circle.big {
    width: 40px;
    height: 40px;
    margin-left: 0px;
}

.animation-container .boom-container .shape.circle.big.white {
    border: 2px solid white;
}

.animation-container .boom-container .shape:after {
    background-color: rgba(178, 215, 232, 0.2);
}

.animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
    animation-delay: .38s;
    animation-duration: 3s;
}

.animation-container .boom-container .shape.circle {
    animation-delay: 0.6s;
}

.animation-container .boom-container.second {
    left: 485px;
    top: 155px;
}

.animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
    animation-delay: 1.9s;
}

.animation-container .boom-container.second .shape.circle {
    animation-delay: 2.15s;
}

@keyframes woosh {
    0% {
        width: 12px;
        transform: translate(0px, 0px) rotate(-35deg);
    }
    15% {
        width: 50px;
    }
    30% {
        width: 12px;
        transform: translate(214px, -150px) rotate(-35deg);
    }
    30.1% {
        transform: translate(214px, -150px) rotate(46deg);
    }
    50% {
        width: 110px;
    }
    70% {
        width: 12px;
        transform: translate(500px, 150px) rotate(46deg);
    }
    70.1% {
        transform: translate(500px, 150px) rotate(-37deg);
    }
    85% {
        width: 50px;
    }
    100% {
        width: 12px;
        transform: translate(700px, 0) rotate(-37deg);
    }
}

@keyframes boom-circle {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform: scale(3);
    }
    100% {
    }
}

@keyframes boom-triangle-big {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }
    100% {
    }
}

@keyframes boom-triangle {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform: scale(3) translate(20px, 40px) rotate(360deg);
    }
    100% {
    }
}

@keyframes boom-disc {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        transform: scale(2) translate(-70px, -30px);
    }
    100% {
    }
}

.footer {
    color: white;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    font-weight: 200;
    padding: 10px 20px;
}

.footer a, .footer a:hover, .footer a:focus, .footer a:visited {
    color: #c6c6c6;
}

.main-animation{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 17%;
}

.animation-container{
    padding-right: 40%;
}

@media screen and (max-width: 615px) {  

    .animations{
        flex-direction: column;
        align-items: center;
    }
}


