.tag-box__constituents__content::-webkit-scrollbar-thumb:hover,
.tag-box__flavors__content::-webkit-scrollbar-thumb:hover{
    background-color: #389f9b;
}
.tag-box__constituents__content::-webkit-scrollbar,
.tag-box__flavors__content::-webkit-scrollbar {
    width: 6px;
}
.tag-box__constituents__content::-webkit-scrollbar-track,
.tag-box__flavors__content::-webkit-scrollbar-track {
    background-color: transparent;
}
.tag-box__constituents__content::-webkit-scrollbar-thumb,
.tag-box__flavors__content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #93e7e4;
}
.tag-box__constituents__content::-webkit-scrollbar-button,
.tag-box__flavors__content::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.tag-box__constituents,
.tag-box__flavors{
    width: 70vmin;
    padding: 0 7vmin;
    padding-top: 20px;
}

.tag-box__constituents__help-text,
.tag-box__flavors__help-text{
    width: 100%;
    height: 50px;
    color: #3b3b3b;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media all and (hover: none) and (pointer: coarse) {
    /* 모바일용 */
    .tag-box__constituents__help-text,
    .tag-box__flavors__help-text{
        height: 80px;
    }
}

.tag-box__constituents__selected,
.tag-box__flavors__selected{
    position: relative;
}

.tag-box__constituents__selected__field,
.tag-box__flavors__selected__field{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.tag-box__constituents__search-box,
.tag-box__flavors__search-box{
    height: 50px;
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tag-box__constituents__search-box input,
.tag-box__flavors__search-box input{
    border: none;
    width: 100%;
    padding-bottom:0;
    margin:0;
    color: #3b3b3b;
}

.tag-box__constituents__content,
.tag-box__flavors__content{
    border-bottom: 1px solid #3b3b3b;
    height: 145px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #93e7e4 transparent;
    padding: 10px 0;
}

.tag-box__constituents__content__field,
.tag-box__flavors__content__field{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    font-size: 15px;
    color: black;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 100px;
    opacity: 0.45;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag:hover{
    cursor: pointer;
    opacity: 1;
}


.constituents{
    border: 2px solid #919de5;
}

.flavors{
    border: 2px solid #e59191;
}

.selectedTag{
    opacity: 0.9;
}