.create-tag{
    width: 70vmin;
    padding: 0 7vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-tag__help-text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #3b3b3b;
    opacity: 0.6;
}

.create-tag__btn-field{
    display: flex;
    width: 70vmin;
    padding: 0 7vmin;
}

.create-tag__btn-field__constituent-btn,
.create-tag__btn-field__flavor-btn{
    width: 50%;
    margin-top: 24px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

@media all and (hover: none) and (pointer: coarse) {
    /* 모바일용 */
    .create-tag__btn-field__constituent-btn,
    .create-tag__btn-field__flavor-btn{
        line-height: normal;
        font-size: 4vmin;
    }
    ::placeholder{
        font-size: 3.88vmin;
    }
}

.create-tag__btn-field__constituent-btn{
    margin-right: 20px;
}

.create-tag__btn-field__flavor-btn{
    margin-left: 20px;
}

.create-tag__constituent,
.create-tag__flavor{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.label-wrap{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

.create-tag__constituent__label,
.create-tag__flavor__label{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 100px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}

.create-tag__constituent__label:hover,
.create-tag__flavor__label:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.create-tag__constituent__label[for=liquid]{
    border: 2px solid var(--liquid);
}
.create-tag__constituent__label[for=ingredient]{
    border: 2px solid var(--ingredient);
}
.create-tag__constituent__label[for=equipment]{
    border: 2px solid var(--equipment);
}

.create-tag__flavor__label[for=fruit]{
    border: 2px solid var(--fruit);
}
.create-tag__flavor__label[for=plant]{
    border: 2px solid var(--plant);
}
.create-tag__flavor__label[for=taste]{
    border: 2px solid var(--teste);
}
.create-tag__flavor__label[for=spice]{
    border: 2px solid var(--spice);
}
.create-tag__flavor__label[for=texture]{
    border: 2px solid var(--texture);
}
.create-tag__flavor__label[for=scent]{
    border: 2px solid var(--scent);
}
.create-tag__flavor__label[for=color]{
    border: 2px solid var(--color);
}
.create-tag__flavor__label[for=other]{
    border: 2px solid var(--other);
}


.selected-constituent[for=liquid]{
    background-color: var(--liquid);
    color: white;
}
.selected-constituent[for=ingredient]{
    background-color: var(--ingredient);
    color: white;
}
.selected-constituent[for=equipment]{
    background-color: var(--equipment);
    color: white;
}

.selected-flavor[for=fruit]{
    background-color: var(--fruit);
    color: white;
}
.selected-flavor[for=plant]{
    background-color: var(--plant);
    color: white;
}
.selected-flavor[for=taste]{
    background-color: var(--teste);
    color: white;
}
.selected-flavor[for=spice]{
    background-color: var(--spice);
    color: white;
}
.selected-flavor[for=texture]{
    background-color: var(--texture);
    color: white;
}
.selected-flavor[for=scent]{
    background-color: var(--scent);
    color: white;
}
.selected-flavor[for=color]{
    background-color: var(--color);
    color: white;
}
.selected-flavor[for=other]{
    background-color: var(--other);
    color: white;
}

.create-tag__constituent__input-alcohol{
    border: none;
    border-bottom: 1px solid #3b3b3b;
    width: 70%;
    margin-top: 20px;
    text-align: center;
}

.create-tag__constituent__input-alcohol:focus{
    outline: none;
}

.create-tag__constituent__submit,
.create-tag__flavor__submit{
    width: 200px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}