@import "variables.css";
@import "base.css";
@import "x1.css";
@import "x2.css";
@import "x3.css";
@import "x4x5.css";
@import "x6.css";
@import "x7.css";

.none {
    display: none;
}

.content-opened{
    width: 100%;
}

.posting__x3__content a,
.posting__x6__comment__main a,
.posting__x6__comment__reply__main a{
    text-decoration: underline;
    text-underline-position: under;
    color: blueviolet;
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}