:root {
    --posting-width: 615px;
    --liked-color: #d65656;

    
    --liquid:#91cce5;
    --ingredient:#e591bb;
    --equipment:#aee591;
    --fruit:#b391e5;
    --plant:#e5bf91;
    --teste:#91e5d0;
    --spice:#e191e5;
    --texture:#919de5;
    --scent:#d3db8a;
    --color:#e59191;
    --other:#91e5a2;
}



