.posting__x4,
.posting__x5{
    width: 100%;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0.6em;
    position: relative;
}
.flip-btn-space{
    padding-bottom: 20px;
}

.posting__x4__fold-down svg,
.posting__x5__fold-down svg{
    transform: scale(0.46) rotateZ(-90deg);
    position: absolute;
    bottom: -18px;
    left: 48.5%; /* 가운데 위치 포인트 */
}
.posting__x4__fold-down,
.posting__x5__fold-down{
    opacity: 0.15;
    padding-bottom: -10px;
}
.btn-flip{
    transform: rotateX(180deg);
}
@media screen and (min-width: 615px) {
    /* PC 용 */
    .posting__x4__fold-down:hover,
    .posting__x5__fold-down:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    .posting__x4__box__state:hover{
        color: white;
        background-color:var(--texture);
        cursor: pointer;
    }
    .posting__x5__box__state:hover{
        color: white;
        background-color:var(--ingredient);
        cursor: pointer;
    }
}
.posting__x4__box,
.posting__x5__box{
    overflow: hidden;
}
.x4max-hight{ /* 두줄 */
    max-height: 72px;
}
.x5max-hight{ /* 두줄 */
    max-height: 72px;
}
.posting__x4__box__tag,
.posting__x5__box__tag,
.posting__x4__box__state,
.posting__x5__box__state{
    display: inline-block;
    font-size: 15px;
    color: black;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 100px;
    opacity: 0.64;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.posting__x4__box__state{
    border: 3px solid var(--texture);
    color: black;
    background-color: white;
}
.posting__x5__box__state{
    border: 3px solid var(--ingredient);
    color: black;
    background-color: white;
}

.alcohol{
    opacity: 0.8;
}
.posting-tag-liquid{
    border: 3px solid var(--liquid);
}
.posting-tag-ingredient{
    border: 3px solid var(--ingredient);
}
.posting-tag-equipment{
    border: 3px solid var(--equipment);
}
.posting-tag-fruit{
    border: 3px solid var(--fruit);
}
.posting-tag-plant{
    border: 3px solid var(--plant);
}
.posting-tag-teste{
    border: 3px solid var(--teste);
}
.posting-tag-spice{
    border: 3px solid var(--spice);
}
.posting-tag-texture{
    border: 3px solid var(--texture);
}
.posting-tag-scent{
    border: 3px solid var(--scent);
}
.posting-tag-color{
    border: 3px solid var(--color);
}
.posting-tag-other{
    border: 3px solid var(--other);
}