.posting__x6{
    width: 100%;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0.6em;
}
.posting__x6-margin{
    width: 100%;
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0.6em;
    height: 10px;
}
.posting__x6__btn{
    display: flex;
    justify-content: center;
    height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0px;
    color: rgba(0, 0, 0, 0.5);
}

.posting__x6__comment__info,
.posting__x6__comment__reply__info{
    display: flex;
    align-items: center;
    position: relative;
}

.posting__x6__comment__info__profile,
.posting__x6__comment__reply__info__profile{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    height: 30px;
    top: 9px;
}

.posting__x6__comment__info__created_by,
.posting__x6__comment__info__created_ago,
.posting__x6__comment__info__like,
.posting__x6__comment__reply__info__created_by,
.posting__x6__comment__reply__info__created_ago,
.posting__x6__comment__reply__info__like,
.posting__x6__comment__info__reply-count,
.posting__x6__comment__info__reply-btn,
.posting__x6__comment__reply__info__reply-btn {
    padding-top: 10px;
    padding-bottom: 5px;
}

.posting__x6__comment__info__created_by,
.posting__x6__comment__reply__info__created_by{
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
}

.posting__x6__comment__info__created_ago,
.posting__x6__comment__reply__info__created_ago{
    margin-left: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.posting__x6__comment__info__like-btn,
.posting__x6__comment__reply__info__like-btn{
    margin-left: 10px;
    margin-bottom: -8px;
}


.posting__x6__comment__info__like-btn svg,
.posting__x6__comment__reply__info__like-btn svg{
    width: 18px;
    height: 18px;
    fill: rgba(0, 0, 0, 0.05);
}
.commentLiked svg {
    fill: red;
}

.posting__x6__comment__info__like,
.posting__x6__comment__reply__info__like{
    margin-left: 7px;
    font-size: 15px;
}



.posting__x6__comment__info__reply-count,
.posting__x6__comment__info__reply-btn,
.posting__x6__comment__reply__info__reply-btn {
    margin-left: 7px;
    font-size: 15px;
}

.posting__x6__comment__main,
.posting__x6__comment__reply__main{
    font-size: 15.3px;
    margin-left: 40px;
}

.posting__x6__comment__main__img,
.posting__x6__comment__reply__main__img{
    margin: 10px 0;
}

.posting__x6__comment__reply{
    margin-left: 50px;
}


.posting__x6__comment__main__img img,
.posting__x6__comment__reply__main__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reply-form{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.reply-form textarea,
.reply-form button {
    background: transparent;
    box-shadow: none;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

.reply-form textarea:active,
.reply-form button:active {
    outline: none;
}

.reply-form textarea:focus,
.reply-form button:focus {
    outline: none;
}

@media not all and (hover: none) and (pointer: coarse) {
    /* PC 용 */

    .reply-form textarea:hover,
    .reply-form button:hover {
        border: 2px solid rgba(99, 0, 0, 0.3);
    }

    .reply-form button:hover {
        cursor: pointer;
    }

    .posting__x6__btn:hover{
        text-decoration: underline;
        cursor: pointer;
        text-underline-position:under;
    }

    .posting__x6__comment__info__profile:hover,
    .posting__x6__comment__reply__info__profile:hover{
        cursor: pointer;
    }

    .posting__x6__comment__info__created_by:hover,
    .posting__x6__comment__reply__info__created_by:hover{
        cursor: pointer;
        text-decoration: underline;
        text-underline-position:under;
    }

    .posting__x6__comment__info__like-btn:hover,
    .posting__x6__comment__reply__info__like-btn:hover{
        cursor: pointer;
    }

    .posting__x6__comment__info__like:hover,
    .posting__x6__comment__reply__info__like:hover,
    .posting__x6__comment__info__reply-btn:hover,
    .posting__x6__comment__reply__info__reply-btn:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-position:under;
    }
}

@media screen and (max-width: 615px) {
    .posting__x6__comment__info__created_by,
    .posting__x6__comment__reply__info__created_by,
    .posting__x6__comment__info__created_ago,
    .posting__x6__comment__reply__info__created_ago,
    .posting__x6__comment__info__like,
    .posting__x6__comment__reply__info__like,
    .posting__x6__comment__info__reply-count,
    .posting__x6__comment__info__reply-btn,
    .posting__x6__comment__reply__info__reply-btn{
        font-size: 2.6vmin;
    }
}

.reply-form textarea{
    resize: none;
    overflow-y: hidden;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    height: 47px;
}

.reply-form button{
    height: 47px;
    width: 20%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
