{% load static %}

<!DOCTYPE html>
<html lang="ko_KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="5YWnGcE4dofW_OBELBG1080T_CAxm9uMnbn_Ay_i0lQ" />
    <meta name="naver-site-verification" content="7c10a4b4eac9e1339dcec1014e16d75a6177f9f9" />
    <link rel="shortcut icon" href="{% static 'img/logo-mini.png' %}">
    {% block head %}{% endblock head %}
    <title>{% block title %}Aribi{% endblock title %}</title>
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>

</html>