{% load static %}

<!DOCTYPE html>
<html lang="ko_KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="5YWnGcE4dofW_OBELBG1080T_CAxm9uMnbn_Ay_i0lQ" />
    <meta name="naver-site-verification" content="7c10a4b4eac9e1339dcec1014e16d75a6177f9f9" />
    <meta name="description" content="수많은 음식과 칵테일계의 인스타그램 Aribi 입니다. 집에 있는 재료로 어떤 음식을 만들 수 있을지 태그 검색을 통해서 한번에 찾아보세요!" />
    <link rel="shortcut icon" href="{% static 'img/logo-mini.png' %}">
    <meta property="og:type" content="website">
    {% block head %}
        <meta property="og:title" content="Aribi">
        <meta name="og:description" content="수많은 음식과 칵테일계의 인스타그램 Aribi 입니다. 집에 있는 재료로 어떤 음식을 만들 수 있을지 태그 검색을 통해서 한번에 찾아보세요!" />
    {% endblock head %}
    <title>{% block title %}Aribi{% endblock title %}</title>
</head>

<body>
    {% block body %}
    {% endblock body %}
</body>

</html>