{% load static %}

<!DOCTYPE html>
<html lang="ko_KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% block body %}{% endblock body %}
    <script src="{% static 'js/intro/search_box.js' %}"></script>
    <script src="{% static 'js/intro/render_tags.js' %}"></script>
    <script src="{% static 'js/intro/filter_tags.js' %}"></script>
</body>

</html>