.logo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.logo img{
    width: 300px;
    height: 300px;
    opacity: 0.25;
}

@media screen and (max-width: 350px) {
    .logo img{
        width: 250px;
        height: 250px;
        opacity: 0.25;
    }
}