.sort-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.sort-btn__latest,
.sort-btn__popularity{
    margin: 0 50px;
}


.sort-btn__ele{
    padding: 10px 131px;
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.14);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sort-btn__ele:hover{
    cursor: pointer;
}

.sort-btn__selected{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

