.postings-section{
    margin: 30px 0;
    width: 100%;
}

.postings-section__latest,
.postings-section__popularity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posting {
    margin-bottom: 50px;
    /* 이 border-radius가 없으면 posting bottom border가 이상하게 적용된다 */
    border-radius: 5px;
    box-shadow: 3px -12px 20px rgba(255, 255, 255, 0.8), 3px 12px 20px rgba(0, 0, 0, 0.2);
}