.sort-btn{
    display: flex;
    width: var(--intro-width);
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 0 15px;
}
.sort-btn__ele{
    width: 20vmin;
    height: 5vmin;
    background: #f3f0f1;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.8), 3px 3px 5px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

.sort-btn__ele span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: semibold;
}

.sort-btn__selected{
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 615px) {
    .sort-btn {
        justify-content: space-between;
    }

    .sort-btn__ele{
        width: 33vmin;
        height: 8.25vmin;
    }

    .sort-btn__ele span{
        font-size: 15px;
    }
}

