:root {
    --intro-width: 80vmin;
    --scrollbar-color:#91dedb;
    --tag-height: 40px;
    
    --liquid:#d3db8a;
    --ingredient:#91e5d0;
    --equipment:#e59191;
    --fruit:#b391e5;
    --plant:#e5bf91;
    --teste:#91e5a2;
    --spice:#e191e5;
    --texture:#919de5;
    --scent:#91cce5;
    --color:#aee591;
    --other:#e591bb;
}

