{% extends "base.html" %}
{% load importer %}

{% block head %} 
    {{ "posting-detail-page.css"|css_import }} 
{% endblock head %}


{% block body %}
    {% include "partials/nav/main.html" %}
    <div class="posting-ele">
        {% include "partials/posting/main.html" %}
    </div>
    <div class="related-postings">
        <div class="intro-btn latest">
            <a href="{% url 'core:intro' %}">
                <button class="sexy-btn">Aribi 홈으로 이동</button>
            </a>
        </div>
        {% for posting in related_postings|slice:'0:4' %}
            {% include "partials/mini/posting.html" %}
        {% endfor %}
    </div>
    {{ "partials/postings"|js_module_import }}
    {{ "partials/nav"|js_module_import }}
    {{ "posting-detail"|js_module_import }}
{% endblock body %}