{% extends "base.html" %}
{% load importer %}

{% block description %}Aribi에서 작성한 {{posting.created_by.name}}님의 포스팅 입니다.{% endblock description %}
{% block og_title %}{{ posting.cocktail_name }}{% endblock og_title %}
{% block og_description %}Aribi에서 작성한 {{posting.created_by.name}}님의 포스팅 입니다.{% endblock og_description %}


{% block head %} 
    {{ "posting-detail-page.css"|css_import }} 
    <meta property="og:image" content="{{ posting.pictures.all.0.image.url }}">
{% endblock head %}


{% block body %}
    <div class="loading none">
        {% include 'partials/mini/loading-screen.html' %}
    </div>
    {% include "partials/nav/main.html" %}
    <div class="posting-ele">
        {% include "partials/posting/main.html" %}
    </div>
    <div class="related-postings">
        <div class="intro-btn latest">
            <a href="{% url 'core:intro' %}">
                <button class="sexy-btn">Aribi 홈으로 이동</button>
            </a>
        </div>
        {% for posting in related_postings|slice:'0:4' %}
            {% include "partials/mini/posting.html" %}
        {% endfor %}
    </div>
    {{ "partials/postings/1-THIS-IS-HELL.js"|js_module_import }}
    {{ "partials/postings/2-function.js"|js_module_import }}
    {{ "partials/postings/3-list-btn.js"|js_module_import }}
    {{ "partials/nav/1-write-btn.js"|js_module_import }}
    {{ "posting-detail/scroll-top.js"|js_module_import }}
{% endblock body %}