{% extends "base.html" %}

{% block title %}
Aribi
{% endblock title %}

{% block body %}


<div class="search-box">
    <form class="search-box__form" action="{% url 'core:search_progress' %}" method="post">
        {% csrf_token %}
        <input autocomplete="off" class="search-box__input" type="text" name="search_for">
    </form>
</div>

<div class="selected">
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
    <div class="Constituent2166 tag liquid selected-tag">암바사</div>
</div>
<div class="under-bar">
    <div class="under-bar__b1 under-bar__b under-bar__left"></div>
    <div class="under-bar__b2 under-bar__b under-bar__left"></div>
    <div class="under-bar__b3 under-bar__b under-bar__left"></div>
    <div class="under-bar__b4 under-bar__b under-bar__left"></div>
    <div class="under-bar__b5 under-bar__b under-bar__left"></div>
    <div class="under-bar__b6 under-bar__b under-bar__left"></div>
    <div class="under-bar__b7 under-bar__b under-bar__right"></div>
    <div class="under-bar__b8 under-bar__b under-bar__right"></div>
    <div class="under-bar__b9 under-bar__b under-bar__right"></div>
    <div class="under-bar__b10 under-bar__b under-bar__right"></div>
    <div class="under-bar__b11 under-bar__b under-bar__right"></div>
    <div class="under-bar__b12 under-bar__b under-bar__right"></div>
</div>

<div class="tagbox">
    <div class="none">
        {% for tag in tags %}
        <div class="content">{{ tag.content }}</div>
        <div class="class">{{tag.class}}</div>
        <div class="type">{{tag.type}}</div>
        <div class="alcohol">{{tag.alcohol}}</div>
        <div class="pk">{{tag.pk}}</div>
        {% endfor %}
    </div>
    <form class="tags none">
        <div class="tagbox__constituent"></div>
        <div class="tagbox__flavor"></div>
    </form>
    <div class="tagbox__field"></div>
</div>


{% endblock body %}